<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Figtree">
    <link rel="stylesheet" href="styles/main.css"/>
    <title>{{ title }}</title>
  </head>
  <body>
    <main {{ ('class="' + mainClass + '"') | safe if mainClass }}>
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
  </body>
</html>
