/* Components */
@import "components/_content-grid.css";
@import "components/_header.css";
@import "components/_footer.css";
@import "../../node_modules/normalize.css/normalize.css";

* {
  margin-top: 0;
  box-sizing: border-box;
}

:root {
  --black: #1c1a26;
  --white: #d9d6d7;
  --grey: #444444;
  --background-color: var(--black);
  --color: var(--white);
  --accent-color: #e38ffb;
}

body {
  font-family: "Open Sans", monospace;
  background-color: var(--background-color);
  color: var(--color);

  font-size: 1rem;
  line-height: 1.54;
  letter-spacing: -0.02em;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  font-variant-ligatures: contextual;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 300ms, color 200ms;
}

main,
header {
  display: flex;
  flex-direction: column;
}

main {
  font-size: 1.2em;
}

pre {
  background-color: var(--grey);
  padding: 1rem;
  min-width: 100%;
  white-space: pre-wrap;
}

a:link,
a:visited {
  color: var(--accent-color);
}

ul {
  list-style: none;
  padding: 0;
}

.selected,
::selection {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.post > header {
  height: 60px;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
}

.post main {
  min-height: calc(100vh - 180px);
  align-items: flex-start;
}

.post a, ul li a {
  padding: 0;
  background-color: unset;
}

.post footer {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.post footer a.previous {
  margin-right: auto;
}

.post footer a.next {
  margin-left: auto;
}