<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <meta name="generator" content="{{ eleventy.generator }}"/>
    <title>{{ title }}</title>

    <!-- Assets, 3rd party scripts, etc -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Figtree">
    <link rel="stylesheet" href="styles/main.css"/>
  </head>
  <body>
    <header class="content-grid">
      <div class="breakout">
        {% block header %}
          {{ header | safe }}
        {% endblock %}
      </div>
    </header>
    <main {{ ('class="' + mainClass + '"') | safe if mainClass }}>
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
  </body>
</html>
