{% extends "./base.njk" %}

{% block header %}
    <nav>
        <a>Home</a>
        <a>Writing</a>
        <a>Lists</a>
        <a>About</a>
    </nav>
{% endblock %}


{% block footer %}
    <nav class="full-width">
        <div class="breakout">
            <div> 
                <a href="/">Home</a>
                <a href="/projects">Projects</a>
                <a href="/writing">Writing</a>
                <a href="/lists">Lists</a>
            </div>
            <div>
                <a href="https://mastodon.online/@bojo">Mastodon</a>
                <a href="https://github.com/Boj0">GitHub</a>
            </div>
        </div>
    </nav>
{% endblock %}