{% extends "layouts/page.njk" %}

{% set mainClass = 'content-grid' %}

{% block content %}
<h1>Yo, I'm <span class="selected">Bojo</span>.</h1>

<section class="paragraph">
    <p>Welcome to my corner of the internet!</p>
    <p>In my spare time I consume media; I read what people think about it and sometimes I write what I think about it. This is where you'll find all my writing, collections, thoughts, notes. I'm currently working as a site reliability engineer.</p>
    <p>Other interests include game dev, electronic music production, bass guitar, motion graphics, video editing, pixel art, 3D graphics, and like, a lot more. My interests never end...
    <p>If you're unsure of where to start, may I suggest gandering at one of my <a href="/writing/lists">lists</a>? Or maybe you'd prefer checking out my <a href="/writing/projects">projects</a>?
  </section>

  <section>
    <h2>Recent Writing</h2>
    <ul>
      {% for post in collections.post | reverse | limit(4) %}
      <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
      {% endfor %}
    </ul>

</section>
{% endblock %}