---
layout: "base.njk" 
---

<main class="homepage">

    <h1> Finished Work</h1>

    <div>

        <ul id="finishedWorkList">

            {%- for post in collections.post -%}
                {% if (loop.index <= 5) %}
                    <li class="finishedWorkListItems">
                        <img></img>
                        <h3>{{ post.data.title }}</h3>
                    </li>
                {% endif %}
            {%- endfor -%}

        </ul>

    </div>

    <span>See More</span>

    <div>
        <h2>Notes</h2>
        <ul>

            {%- for note in collections.note -%}
                {% if (loop.index <= 5) %}
                    <li>
                        <img></img>
                        <h3><a href={{page.url}}> {{ note.data.title }} </a></h3>
                    </li>
                {% endif %}
            {%- endfor -%}

        </ul>

        <span>See More</span>
    </div>

    <div>
        <h2>Lists</h2>
        <ul>

            {%- for list in collections.list -%}
                {% if (loop.index <= 5) %}
                    <li>
                        <img></img>
                        <h3>{{ list.data.title }}</h3>
                    </li>
                {% endif %}
            {%- endfor -%}

        </ul>

        <span>See More</span>
    </div>
</main>